<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>CreationDate</key>
	<string>2015-02-09 07:06:19 +0000</string>
	<key>Creator</key>
	<string>Olivier Liechti</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>ImageCounter</key>
	<integer>7</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image6.tiff</string>
	</array>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-03-02 18:22:35 +0000</string>
	<key>Modifier</key>
	<string>Olivier Liechti</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>NO</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.28997802734375, 841.8900146484375}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>Sheets</key>
	<array>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.28997802734375, 782.8900146484375}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoLineLength</key>
				<real>0.20000000298023224</real>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 1</string>
			<key>UniqueID</key>
			<integer>1</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {1677.8699340820312, 782.8900146484375}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array>
				<dict>
					<key>Bounds</key>
					<string>{{103, 72.000015258789062}, {204, 527}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>27</integer>
					<key>ImageID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>20</integer>
					</dict>
					<key>ID</key>
					<integer>25</integer>
					<key>Points</key>
					<array>
						<string>{866.03755636611527, 520.38021163260873}</string>
						<string>{905.17794137179624, 595.55579823250048}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>11</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>19</integer>
					</dict>
					<key>ID</key>
					<integer>24</integer>
					<key>Points</key>
					<array>
						<string>{801.28105693294515, 520.35828058730374}</string>
						<string>{753.30709806649804, 595.57771274462664}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>11</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>17</integer>
					</dict>
					<key>ID</key>
					<integer>23</integer>
					<key>Points</key>
					<array>
						<string>{864.41480104269635, 300.46835975511607}</string>
						<string>{907.49999998268129, 300.46835975511607}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>17</integer>
					</dict>
					<key>ID</key>
					<integer>22</integer>
					<key>Points</key>
					<array>
						<string>{1029.8347119114569, 651.46834564208984}</string>
						<string>{1059, 651.46834564208984}</string>
						<string>{1073.8221696331352, 362.43605036086461}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>17</integer>
					</dict>
					<key>ID</key>
					<integer>21</integer>
					<key>Points</key>
					<array>
						<string>{813.59993523003754, 611.18415233516316}</string>
						<string>{978, 542}</string>
						<string>{1051.6154662288718, 362.39935129994575}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>19</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{838.80436861695466, 596}, {190.53034330884509, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>20</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 FileNumberingFilterWriter}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{622.60873723390932, 596}, {190.53034330884509, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>19</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 UpperCaseFilterWriter}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{231.51480102539062, 0}, {59, 14}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FitText</key>
					<string>YES</string>
					<key>Flow</key>
					<string>Resize</string>
					<key>ID</key>
					<integer>18</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Align</key>
						<integer>0</integer>
						<key>Pad</key>
						<integer>0</integer>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural

\f0\fs24 \cf0 FilterWriter}</string>
						<key>VerticalPad</key>
						<integer>0</integer>
					</dict>
					<key>Wrap</key>
					<string>NO</string>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{908, 239.00001525878906}, {338, 122.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>17</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.901961</string>
								<key>g</key>
								<string>0.901961</string>
								<key>r</key>
								<string>0.901961</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;\f1\fnil\fcharset0 Consolas;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 &lt;&lt;abstract&gt;&gt;\
FilterWriter\

\f1\b0 public void write(int c)\
public void write(char[] cbuf, int off, int len)\
public void write(String str, int off, int len)}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
					</dict>
					<key>ID</key>
					<integer>16</integer>
					<key>Points</key>
					<array>
						<string>{580.68729438013895, 127.46836255876681}</string>
						<string>{616.25710869603313, 127.46836255876681}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>StickArrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
					</dict>
					<key>ID</key>
					<integer>15</integer>
					<key>Points</key>
					<array>
						<string>{676.66793251254762, 408.56920155166966}</string>
						<string>{707.41308974915307, 356.36752025008821}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>10</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
					</dict>
					<key>ID</key>
					<integer>14</integer>
					<key>Points</key>
					<array>
						<string>{804.00401441523582, 408.56920163173163}</string>
						<string>{773.25883915188933, 356.36752017002618}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>11</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>6</integer>
					</dict>
					<key>ID</key>
					<integer>13</integer>
					<key>Points</key>
					<array>
						<string>{740.33594084979154, 244.5}</string>
						<string>{740.33594084979154, 183.43670654296878}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>9</integer>
					</dict>
				</dict>
				<dict>
					<key>Class</key>
					<string>LineGraphic</string>
					<key>Head</key>
					<dict>
						<key>ID</key>
						<integer>7</integer>
					</dict>
					<key>ID</key>
					<integer>12</integer>
					<key>Points</key>
					<array>
						<string>{456.66896710362164, 244.50000029936754}</string>
						<string>{456.73499521800954, 183.43668999734419}</string>
					</array>
					<key>Style</key>
					<dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
							<key>HeadArrow</key>
							<string>Arrow</string>
							<key>Legacy</key>
							<true/>
							<key>Pattern</key>
							<integer>1</integer>
							<key>TailArrow</key>
							<string>0</string>
						</dict>
					</dict>
					<key>Tail</key>
					<dict>
						<key>ID</key>
						<integer>8</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{747.8043528085791, 409.00003051757812}, {178.2450917714992, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>11</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0.843491</string>
								<key>g</key>
								<string>0.525595</string>
								<key>r</key>
								<string>0.222646</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 CompleteFileTransformer}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{554.62252150315476, 409.00003051757812}, {178.2450917714992, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>10</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.23</string>
								<key>b</key>
								<string>0.843491</string>
								<key>g</key>
								<string>0.525595</string>
								<key>r</key>
								<string>0.222646</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 NoOpFileTransformer}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{616.7571087176982, 245}, {247.15769230769223, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>9</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0.116825</string>
								<key>g</key>
								<string>0.0903504</string>
								<key>r</key>
								<string>0.611971</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;\f1\fnil\fcharset0 Consolas;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 &lt;&lt;abstract&gt;&gt;\
FileTransformer\

\f1\b0 public abstract Writer decorateWithFilters(Writer writer)}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{333.0296020507817, 245}, {247.15769230769223, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>8</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.29</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>1</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 DFSFileExplorer}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{333.0296020507817, 72}, {247.15769230769223, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>7</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.29</string>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0.501961</string>
								<key>r</key>
								<string>1</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;\f1\fnil\fcharset0 Consolas;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 &lt;&lt;interface&gt;&gt;\
IFileExplorer\
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f1\b0 \cf2 public void explore(IFileVisitor v)}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{616.7571087176982, 72.000015258789062}, {247.15769230769223, 110.93669128417969}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>FontInfo</key>
					<dict>
						<key>Color</key>
						<dict>
							<key>b</key>
							<string>0.2</string>
							<key>g</key>
							<string>0.2</string>
							<key>r</key>
							<string>0.2</string>
						</dict>
						<key>Font</key>
						<string>Consolas-Bold</string>
						<key>Size</key>
						<real>12</real>
					</dict>
					<key>ID</key>
					<integer>6</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>a</key>
								<string>0.24</string>
								<key>b</key>
								<string>0.116825</string>
								<key>g</key>
								<string>0.0903504</string>
								<key>r</key>
								<string>0.611971</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.2</string>
								<key>g</key>
								<string>0.2</string>
								<key>r</key>
								<string>0.2</string>
							</dict>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Text</key>
						<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Consolas-Bold;\f1\fnil\fcharset0 Consolas;}
{\colortbl;\red255\green255\blue255;\red51\green51\blue51;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\slleading200\pardirnatural\qc

\f0\b\fs24 \cf2 &lt;&lt;interface&gt;&gt;\
IFileVisitor\

\f1\b0 public void visit(File f)}</string>
						<key>VerticalPad</key>
						<integer>20</integer>
					</dict>
				</dict>
			</array>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>3</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoLineLength</key>
				<real>0.20000000298023224</real>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 2</string>
			<key>UniqueID</key>
			<integer>2</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>ActiveLayerIndex</key>
			<integer>0</integer>
			<key>AutoAdjust</key>
			<true/>
			<key>BackgroundGraphic</key>
			<dict>
				<key>Bounds</key>
				<string>{{0, 0}, {559.28997802734375, 782.8900146484375}}</string>
				<key>Class</key>
				<string>SolidGraphic</string>
				<key>ID</key>
				<integer>2</integer>
				<key>Style</key>
				<dict>
					<key>shadow</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
					<key>stroke</key>
					<dict>
						<key>Draws</key>
						<string>NO</string>
					</dict>
				</dict>
			</dict>
			<key>BaseZoom</key>
			<integer>0</integer>
			<key>CanvasOrigin</key>
			<string>{0, 0}</string>
			<key>ColumnAlign</key>
			<integer>1</integer>
			<key>ColumnSpacing</key>
			<real>36</real>
			<key>DisplayScale</key>
			<string>1 0/72 in = 1.0000 in</string>
			<key>GraphicsList</key>
			<array/>
			<key>GridInfo</key>
			<dict/>
			<key>HPages</key>
			<integer>1</integer>
			<key>KeepToScale</key>
			<false/>
			<key>Layers</key>
			<array>
				<dict>
					<key>Lock</key>
					<string>NO</string>
					<key>Name</key>
					<string>Layer 1</string>
					<key>Print</key>
					<string>YES</string>
					<key>View</key>
					<string>YES</string>
				</dict>
			</array>
			<key>LayoutInfo</key>
			<dict>
				<key>Animate</key>
				<string>NO</string>
				<key>circoMinDist</key>
				<real>18</real>
				<key>circoSeparation</key>
				<real>0.0</real>
				<key>layoutEngine</key>
				<string>dot</string>
				<key>neatoLineLength</key>
				<real>0.20000000298023224</real>
				<key>neatoSeparation</key>
				<real>0.0</real>
				<key>twopiSeparation</key>
				<real>0.0</real>
			</dict>
			<key>Orientation</key>
			<integer>2</integer>
			<key>PrintOnePage</key>
			<false/>
			<key>RowAlign</key>
			<integer>1</integer>
			<key>RowSpacing</key>
			<real>36</real>
			<key>SheetTitle</key>
			<string>Canvas 3</string>
			<key>UniqueID</key>
			<integer>3</integer>
			<key>VPages</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UseEntirePage</key>
	<false/>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>1</integer>
		<key>ExpandedCanvases</key>
		<array/>
		<key>Frame</key>
		<string>{{182, 44}, {1440, 834}}</string>
		<key>ListView</key>
		<false/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>200</integer>
		<key>VisibleRegion</key>
		<string>{{62.5, 0}, {1225, 695}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 2</string>
				<real>1</real>
				<real>1</real>
			</array>
			<array>
				<string>Canvas 3</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
